
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about-section fix" id="about">
    <div class="container pt100 pb100">
        <div class="row">
            <div class="section-title mb70">
                <h2>Hakkımda</h2>
            </div>
            <div class="col-md-4 about-img">
                <img src="assets/images/profile.jpg" alt="">
            </div>
            <div class="col-md-8 about-text">
                <br><h3 style="margin-top:0px;margin-bottom:0px;font-family: 'Indie Flower', cursive;">Yeni nesil bilgisayar mühendisi.</h3><br>
                <p>
                    23 Mayıs 1997'de Kütahya'nın Simav ilçesinde doğdum.İlköğretim dönemimi burada tamamlamamın ardından Kütahya Anadolu Öğretmen Lisesini kazanarak lise hayatıma başladım.<br>Lisede bulunduğum sayısal bölümünde derslerin yanısıra başlangıç seviyesi C ve java programlama ardından fotoğraf ve video edit uygulamalarına başladım.<br>Lise dönemi ardından Eskişehir Osmangazi Üniversitesi Bilgisayar Mühendisliği bölümüne girmeye hak kazandım ve 2020 ağustos ayı itibariyle üniversite eğitimimi tamamladım.<br>
                    Özel olarak web ve grafik tasarımı, mobil uygulama geliştirme(flutter), gömülü programlama / robotik ve siber güvenlik uygulamalarıyla ilgileniyorum.<br><b>İlgili konular üzerine freelancer olarak hizmet veriyorum.</b>
                </p>
                <button type="button" class="btn site-btn btn-outline transition-ease mt10" data-wow-delay="0.1s"><a href="pdf/hidayet_arasan_cv.pdf" target="_blank" ;="">CV'Mİ GÖRÜNTÜLE</a></button>
                <a href="#contact" class="btn site-btn transition-ease smooth-scroll mt10" data-wow-delay="0.2s">İLETİŞİME GEÇELİM</a>
            </div>
        </div>
    </div>
</section>

<div class="skill-section fix">
    <div class="container pb65">
        <div class="row">
            <div class="col-md-4">
                <h3>Grafik Tasarım</h3>
                <br>
                <div class="single-progress-item">
                    <p>Photoshop</p>
                    <div class="progress-bar-style" data-progress="98"><div class="bar-inner" style="width:98%"><span>98%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>ILLUSTRATOR</p>
                    <div class="progress-bar-style" data-progress="85"><div class="bar-inner" style="width:85%"><span>85%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>Premiere</p>
                    <div class="progress-bar-style" data-progress="75"><div class="bar-inner" style="width:75%"><span>75%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>After Effects</p>
                    <div class="progress-bar-style" data-progress="60"><div class="bar-inner" style="width:60%"><span>60%</span></div></div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Yazılım</h3>
                <br>
                <div class="single-progress-item">
                    <p>PHP/HTML/CSS/JS/WORDPRESS</p>
                    <div class="progress-bar-style" data-progress="90"><div class="bar-inner" style="width:90%"><span>90%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>mysql/mssql</p>
                    <div class="progress-bar-style" data-progress="85"><div class="bar-inner" style="width:85%"><span>85%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>C++/PYTHON</p>
                    <div class="progress-bar-style" data-progress="70"><div class="bar-inner" style="width:70%"><span>70%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>FLUTTER</p>
                    <div class="progress-bar-style" data-progress="50"><div class="bar-inner" style="width:50%"><span>50%</span></div></div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Sistem Bilgisi</h3>
                <br>
                <div class="single-progress-item">
                    <p>SİBER GÜVENLİK/NETWORK</p>
                    <div class="progress-bar-style" data-progress="70"><div class="bar-inner" style="width:70%"><span>70%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>LINUX SİSTEM YÖNETİMİ</p>
                    <div class="progress-bar-style" data-progress="60"><div class="bar-inner" style="width:60%"><span>60%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>GÖMÜLÜ YAZILIM/IOT</p>
                    <div class="progress-bar-style" data-progress="75"><div class="bar-inner" style="width:75%"><span>75%</span></div></div>
                </div>
                <div class="single-progress-item">
                    <p>YAPAY ZEKA</p>
                    <div class="progress-bar-style" data-progress="55"><div class="bar-inner" style="width:55%"><span>55%</span></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

























